[submodule "extern/MASShortcut"]
	path = extern/MASShortcut
	url = https://github.com/shpakovski/MASShortcut.git
[submodule "extern/SPMediaKeyTap"]
	path = extern/SPMediaKeyTap
	url = https://github.com/nevyn/SPMediaKeyTap.git
[submodule "extern/EDStarRating"]
	path = extern/EDStarRating
	url = https://github.com/erndev/EDStarRating.git
[submodule "extern/SMTabBar"]
	path = extern/SMTabBar
	url = https://github.com/smic/InspectorTabBar.git
