<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public</key>
	<array>
		<dict>
			<key>cate</key>
			<string>语言 &amp; 地域</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>华语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>欧美</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>粤语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>name</key>
					<string>日语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>name</key>
					<string>韩语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>name</key>
					<string>法语</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>流派</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>摇滚</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>民谣</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>轻音乐</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>13</integer>
					<key>name</key>
					<string>爵士</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>name</key>
					<string>电子</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>15</integer>
					<key>name</key>
					<string>说唱</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>name</key>
					<string>R&amp;B</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>27</integer>
					<key>name</key>
					<string>古典</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>合集</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>电影原声</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>女声</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>name</key>
					<string>豆瓣音乐人</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>28</integer>
					<key>name</key>
					<string>动漫</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>name</key>
					<string>咖啡</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>61</integer>
					<key>name</key>
					<string>新歌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>76</integer>
					<key>name</key>
					<string>小清新</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>年代</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>七零</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>八零</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>九零</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>其他</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>78</integer>
					<key>name</key>
					<string>91.1 MHZ</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>suggest</key>
	<array>
		<dict>
			<key>cate</key>
			<string>热门兆赫</string>
			<key>channels</key>
			<array>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16680.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16680.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>小情歌</string>
						<string>怎样</string>
						<string>一直很安静</string>
					</array>
					<key>id</key>
					<integer>1</integer>
					<key>intro</key>
					<string>每天发现一首好听的歌</string>
					<key>name</key>
					<string>华语</string>
					<key>song_num</key>
					<integer>9137</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16684.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16684.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>亲爱的你怎么不在身边</string>
						<string>You're Beautiful</string>
						<string>至少还有你</string>
					</array>
					<key>id</key>
					<integer>4</integer>
					<key>intro</key>
					<string>生于八零年代的我们，听着这些歌成长</string>
					<key>name</key>
					<string>八零</string>
					<key>song_num</key>
					<integer>6056</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16681.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16681.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Free Loop</string>
						<string>Because Of You</string>
						<string>The Show</string>
					</array>
					<key>id</key>
					<integer>2</integer>
					<key>intro</key>
					<string>关于欧美流行音乐的一切，就在这里了</string>
					<key>name</key>
					<string>欧美</string>
					<key>song_num</key>
					<integer>9676</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16693.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16693.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Not Going Anywhere</string>
						<string>Over The Rainbow</string>
						<string>Hometown Glory</string>
					</array>
					<key>id</key>
					<integer>32</integer>
					<key>intro</key>
					<string>我不在喝咖啡，就在听咖啡兆赫。</string>
					<key>name</key>
					<string>咖啡</string>
					<key>song_num</key>
					<integer>3446</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16687.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16687.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>君をのせて</string>
						<string>睡莲 A Water Lily (suiren)</string>
						<string>琵琶语</string>
					</array>
					<key>id</key>
					<integer>9</integer>
					<key>intro</key>
					<string>在属于你的放松地带，释放心灵</string>
					<key>name</key>
					<string>轻音乐</string>
					<key>song_num</key>
					<integer>7176</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16686.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16686.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>会过去的</string>
						<string>奇洛李维斯回信</string>
						<string>钟无艳</string>
					</array>
					<key>id</key>
					<integer>6</integer>
					<key>intro</key>
					<string>那些年我们心水的劲歌金曲</string>
					<key>name</key>
					<string>粤语</string>
					<key>song_num</key>
					<integer>8932</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16692.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16692.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>古瓷</string>
						<string>那些年</string>
						<string>孤单患者</string>
					</array>
					<key>id</key>
					<integer>61</integer>
					<key>intro</key>
					<string>让你的耳朵吸收新鲜正能量</string>
					<key>name</key>
					<string>新歌</string>
					<key>song_num</key>
					<integer>902</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16685.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16685.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>The Show</string>
						<string>突然好想你</string>
						<string>I'm Yours</string>
					</array>
					<key>id</key>
					<integer>5</integer>
					<key>intro</key>
					<string>更新鲜的歌曲，更新鲜的声音</string>
					<key>name</key>
					<string>九零</string>
					<key>song_num</key>
					<integer>5507</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16720.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16720.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>laura</string>
						<key>url</key>
						<string>http://www.douban.com/people/listenmumu/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>我的歌声里</string>
						<string>Someone Like You</string>
						<string>Way Back Into Love</string>
					</array>
					<key>id</key>
					<integer>1000606</integer>
					<key>intro</key>
					<string>情话被现实反驳，还不如一句情歌。它让你感动，也让你心痛。</string>
					<key>name</key>
					<string>还不如一句情歌</string>
					<key>song_num</key>
					<integer>750</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16691.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16691.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>99滴眼泪</string>
						<string>我是不是还不够好</string>
						<string>Close To You</string>
					</array>
					<key>id</key>
					<integer>76</integer>
					<key>intro</key>
					<string>这里没有喧哗与吵闹，静下心来感受世界的美好</string>
					<key>name</key>
					<string>小清新</string>
					<key>song_num</key>
					<integer>2442</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>上升最快</string>
			<key>channels</key>
			<array>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/17223.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/17223.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>章鲸</string>
						<key>url</key>
						<string>http://www.douban.com/people/zhangjaejin/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>哭过就好了</string>
						<string>我不会喜欢你</string>
						<string>还是会</string>
					</array>
					<key>id</key>
					<integer>1001908</integer>
					<key>intro</key>
					<string>歌曲是承载回忆的不二利器，欢迎乘上时光机。</string>
					<key>name</key>
					<string>章鲸的时光机</string>
					<key>song_num</key>
					<integer>194</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/17324.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/17324.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>和平希望吃货君</string>
						<key>url</key>
						<string>http://www.douban.com/people/1915304/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>このままで</string>
						<string>雌雄同体</string>
						<string>有句話对你說</string>
					</array>
					<key>id</key>
					<integer>1001980</integer>
					<key>intro</key>
					<string>用一首歌让人在浮躁的午后安静下来</string>
					<key>name</key>
					<string>歌里有我爱的人</string>
					<key>song_num</key>
					<integer>161</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/17476.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/17476.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>王三一</string>
						<key>url</key>
						<string>http://www.douban.com/people/wayne31/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Mad World</string>
						<string>Are You Happy Now?</string>
						<string>Comatose</string>
					</array>
					<key>id</key>
					<integer>1001922</integer>
					<key>intro</key>
					<string>一些你不经常听到的歌，通常能为你打开一扇窗
持续更新中</string>
					<key>name</key>
					<string>发现好音乐之旅</string>
					<key>song_num</key>
					<integer>82</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/17091.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/17091.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Ellie'</string>
						<key>url</key>
						<string>http://www.douban.com/people/44399967/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>第11号A大调钢琴协奏曲「第三乐章：土耳其进行曲」</string>
						<string>冷雨夜</string>
						<string>It's My Life</string>
					</array>
					<key>id</key>
					<integer>1001842</integer>
					<key>intro</key>
					<string>我就是不喜欢单一曲风，听的耳朵疼</string>
					<key>name</key>
					<string>拉格朗日中值定理</string>
					<key>song_num</key>
					<integer>164</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/17200.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/17200.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Color-full</string>
						<key>url</key>
						<string>http://www.douban.com/people/hanacolor/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>就手</string>
						<string>在你遥远的附近</string>
						<string>隆重登场</string>
					</array>
					<key>id</key>
					<integer>1001888</integer>
					<key>intro</key>
					<string>青春有你們的陪伴是人生一件幸事</string>
					<key>name</key>
					<string>林夕&amp;&amp;黃偉文</string>
					<key>song_num</key>
					<integer>435</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/14315.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/14315.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>爵士之音Decadent music club</string>
						<key>url</key>
						<string>http://site.douban.com/Decadentmusic/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>01 - Billie Jean (Guitar version)</string>
						<string>Capricci Per Violino Solo O</string>
						<string>Jardin D'hiver</string>
					</array>
					<key>id</key>
					<integer>1000150</integer>
					<key>intro</key>
					<string></string>
					<key>name</key>
					<string>爵士之音</string>
					<key>song_num</key>
					<integer>305</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/17033.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/17033.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣帝</string>
						<key>url</key>
						<string>http://www.douban.com/people/doubandi/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>老男孩</string>
						<string>California Dreamin</string>
						<string>爱情抗体</string>
					</array>
					<key>id</key>
					<integer>1001814</integer>
					<key>intro</key>
					<string>谁见到琳琳了？</string>
					<key>name</key>
					<string>琳琳</string>
					<key>song_num</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/17145.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/17145.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>SirFrederic</string>
						<key>url</key>
						<string>http://www.douban.com/people/52255111/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Theme From Schindler's List</string>
						<string>Lueur D'été</string>
						<string>Apologize</string>
					</array>
					<key>id</key>
					<integer>1001877</integer>
					<key>intro</key>
					<string>《轻摇呵轻摇》 《十一区的歌声》 《一杯夜 一杯黎明》 《众神之车》 —— 团员只有一名，声音却不止一种。</string>
					<key>name</key>
					<string>合唱团</string>
					<key>song_num</key>
					<integer>164</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/14415.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/14415.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Na ja</string>
						<key>url</key>
						<string>http://www.douban.com/people/naja2u/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>First Of May</string>
						<string>Come Back To Me (radio Edit)</string>
						<string>Marry You</string>
					</array>
					<key>id</key>
					<integer>1000330</integer>
					<key>intro</key>
					<string>让心情变好的就是好音乐~</string>
					<key>name</key>
					<string>naja's</string>
					<key>song_num</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img1.douban.com/img/fmadmin/chlBanner/16971.jpg</string>
					<key>cover</key>
					<string>http://img1.douban.com/img/fmadmin/icon/16971.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>妇科主任马大夫</string>
						<key>url</key>
						<string>http://www.douban.com/people/maxlovejin/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>More Justice</string>
						<string>Shanty Town</string>
						<string>My Boy Lollipop</string>
					</array>
					<key>id</key>
					<integer>1001787</integer>
					<key>intro</key>
					<string>Jah Rastafari !</string>
					<key>name</key>
					<string>GO ! JAMAICA !</string>
					<key>song_num</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>timestamp</key>
	<real>367519255.74045902</real>
</dict>
</plist>
