<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en_public</key>
	<array>
		<dict>
			<key>cate</key>
			<string>Language &amp; Region</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>Chinese</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>American &amp; European</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>Cantonese</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>name</key>
					<string>Japanese</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>name</key>
					<string>Korean </string>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>name</key>
					<string>French</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>Genre</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>Rock</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>Folk Rhyme</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>Light Music</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>13</integer>
					<key>name</key>
					<string>Jazz</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>name</key>
					<string>Electronic</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>15</integer>
					<key>name</key>
					<string>Rap</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>name</key>
					<string>R&amp;B</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>27</integer>
					<key>name</key>
					<string>Classical Music</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>Collections</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>Sound Track</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>Girls' Voice</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>name</key>
					<string>Douban Musicians</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>28</integer>
					<key>name</key>
					<string>Cartoon &amp; Animation</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>name</key>
					<string>Coffee</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>61</integer>
					<key>name</key>
					<string>New Musics</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>76</integer>
					<key>name</key>
					<string>Soft / Clear</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>Ages</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>70th</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>80th</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>90th</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>More</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>78</integer>
					<key>name</key>
					<string>91.1 MHZ</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>public</key>
	<array>
		<dict>
			<key>cate</key>
			<string>语言 &amp; 地域</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>name</key>
					<string>华语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>name</key>
					<string>欧美</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>name</key>
					<string>粤语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>name</key>
					<string>日语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>name</key>
					<string>韩语</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>name</key>
					<string>法语</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>流派</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>name</key>
					<string>摇滚</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>name</key>
					<string>民谣</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>name</key>
					<string>轻音乐</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>13</integer>
					<key>name</key>
					<string>爵士</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>name</key>
					<string>电子</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>15</integer>
					<key>name</key>
					<string>说唱</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>name</key>
					<string>R&amp;B</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>27</integer>
					<key>name</key>
					<string>古典</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>合集</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>name</key>
					<string>电影原声</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>name</key>
					<string>女声</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>name</key>
					<string>豆瓣音乐人</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>28</integer>
					<key>name</key>
					<string>动漫</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>name</key>
					<string>咖啡</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>61</integer>
					<key>name</key>
					<string>新歌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>76</integer>
					<key>name</key>
					<string>小清新</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>年代</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>name</key>
					<string>七零</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>name</key>
					<string>八零</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>name</key>
					<string>九零</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>其他</string>
			<key>channels</key>
			<array>
				<dict>
					<key>id</key>
					<integer>78</integer>
					<key>name</key>
					<string>91.1 MHZ</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>suggest</key>
	<array>
		<dict>
			<key>cate</key>
			<string>Hot Channels</string>
			<key>channels</key>
			<array>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16680.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16680.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>好久不见</string>
						<string>怎样</string>
						<string>小情歌</string>
					</array>
					<key>id</key>
					<integer>1</integer>
					<key>intro</key>
					<string>每天发现一首好听的歌</string>
					<key>name</key>
					<string>华语</string>
					<key>song_num</key>
					<integer>9148</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img5.douban.com/img/fmadmin/chlBanner/18339.jpg</string>
					<key>cover</key>
					<string>http://img5.douban.com/img/fmadmin/icon/18339.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>我的歌声里</string>
						<string>洋葱</string>
						<string>High歌</string>
					</array>
					<key>id</key>
					<integer>94</integer>
					<key>intro</key>
					<string></string>
					<key>name</key>
					<string>中国好声音</string>
					<key>song_num</key>
					<integer>211</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16681.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16681.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Free Loop</string>
						<string>Apologize (feat. Timbaland)</string>
						<string>You're Beautiful</string>
					</array>
					<key>id</key>
					<integer>2</integer>
					<key>intro</key>
					<string>关于欧美流行音乐的一切，就在这里了</string>
					<key>name</key>
					<string>欧美</string>
					<key>song_num</key>
					<integer>9676</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16684.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16684.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>亲爱的你怎么不在身边</string>
						<string>你要的爱</string>
						<string>胆小鬼</string>
					</array>
					<key>id</key>
					<integer>4</integer>
					<key>intro</key>
					<string>生于八零年代的我们，听着这些歌成长</string>
					<key>name</key>
					<string>八零</string>
					<key>song_num</key>
					<integer>6056</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16693.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16693.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Not Going Anywhere</string>
						<string>The Blower's Daughter</string>
						<string>On My Shoulders</string>
					</array>
					<key>id</key>
					<integer>32</integer>
					<key>intro</key>
					<string>我不在喝咖啡，就在听咖啡兆赫。</string>
					<key>name</key>
					<string>咖啡</string>
					<key>song_num</key>
					<integer>3446</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16687.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16687.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>君をのせて</string>
						<string>Summer's Blue</string>
						<string>睡莲 A Water Lily (suiren)</string>
					</array>
					<key>id</key>
					<integer>9</integer>
					<key>intro</key>
					<string>在属于你的放松地带，释放心灵</string>
					<key>name</key>
					<string>轻音乐</string>
					<key>song_num</key>
					<integer>7176</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16692.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16692.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Drenched</string>
						<string>如果没有你 </string>
						<string>爱久见人心</string>
					</array>
					<key>id</key>
					<integer>61</integer>
					<key>intro</key>
					<string>让你的耳朵吸收新鲜正能量</string>
					<key>name</key>
					<string>新歌</string>
					<key>song_num</key>
					<integer>4333</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16686.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16686.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>会过去的</string>
						<string>钟无艳</string>
						<string>爱是最大权利</string>
					</array>
					<key>id</key>
					<integer>6</integer>
					<key>intro</key>
					<string>那些年我们心水的劲歌金曲</string>
					<key>name</key>
					<string>粤语</string>
					<key>song_num</key>
					<integer>8932</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18857.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18857.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>雀巢咖啡中国</string>
						<key>url</key>
						<string>http://site.douban.com/nescafe/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Drenched</string>
						<string>Itsi Bitsi Petit Bikini</string>
						<string>Angel</string>
					</array>
					<key>id</key>
					<integer>95</integer>
					<key>intro</key>
					<string></string>
					<key>name</key>
					<string>NESCAFE咖啡</string>
					<key>song_num</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16685.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16685.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>洋葱</string>
						<string>The Show</string>
						<string>Valder Fields</string>
					</array>
					<key>id</key>
					<integer>5</integer>
					<key>intro</key>
					<string>更新鲜的歌曲，更新鲜的声音</string>
					<key>name</key>
					<string>九零</string>
					<key>song_num</key>
					<integer>5507</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16691.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16691.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>我是不是还不够好</string>
						<string>99滴眼泪</string>
						<string>KTV传奇</string>
					</array>
					<key>id</key>
					<integer>76</integer>
					<key>intro</key>
					<string>这里没有喧哗与吵闹，静下心来感受世界的美好</string>
					<key>name</key>
					<string>小清新</string>
					<key>song_num</key>
					<integer>2442</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16580.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16580.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Carmen Fantaisie, Op.25</string>
						<string>Ave Maria D 839</string>
						<string>Beethoven 5th Symph Allegro Con Brio</string>
					</array>
					<key>id</key>
					<integer>27</integer>
					<key>intro</key>
					<string>古典乐也能听得轻松随性</string>
					<key>name</key>
					<string>古典</string>
					<key>song_num</key>
					<integer>4169</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img5.douban.com/img/fmadmin/chlBanner/17329.jpg</string>
					<key>cover</key>
					<string>http://img5.douban.com/img/fmadmin/icon/17329.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>韧带不好不劈腿</string>
						<key>url</key>
						<string>http://www.douban.com/people/ruru.king/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>我的歌声里</string>
						<string>慢慢</string>
						<string>情非得已</string>
					</array>
					<key>id</key>
					<integer>1001913</integer>
					<key>intro</key>
					<string>唱每一首歌一个故事，道尽离合悲欢几个字，犹如人生之歌一开始不休止，为着前路永远冲刺。</string>
					<key>name</key>
					<string>一首歌一个故事</string>
					<key>song_num</key>
					<integer>249</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/14053.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/14053.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>`Mr.Shuang__</string>
						<key>url</key>
						<string>http://www.douban.com/people/willielynn/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Price Tag (feat. B.o.B)</string>
						<string>Won't Go Home Without You</string>
						<string>ここにいるよ Feat.青山テルマ</string>
					</array>
					<key>id</key>
					<integer>1000098</integer>
					<key>intro</key>
					<string>你的故事，音乐懂你。</string>
					<key>name</key>
					<string>少听的好歌</string>
					<key>song_num</key>
					<integer>79</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18591.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18591.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>大酱汤</string>
						<key>url</key>
						<string>http://www.douban.com/people/59504155/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>I Could Be The One</string>
						<string>Drenched</string>
						<string>Won't Go Home Without You</string>
					</array>
					<key>id</key>
					<integer>1001853</integer>
					<key>intro</key>
					<string>曾经我暗恋着一个人，挣扎了许久后告白，却还是被拒绝。也是我的心情吧，谁知道接下来会发生什么</string>
					<key>name</key>
					<string>我就是那么喜欢你</string>
					<key>song_num</key>
					<integer>288</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18601.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18601.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>laura</string>
						<key>url</key>
						<string>http://www.douban.com/people/listenmumu/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Way Back Into Love</string>
						<string>총 맞은 것처럼</string>
						<string>The Rose</string>
					</array>
					<key>id</key>
					<integer>1000606</integer>
					<key>intro</key>
					<string>情话被现实反驳，还不如一句情歌。它让你感动，也让你心痛。</string>
					<key>name</key>
					<string>还不如一句情歌</string>
					<key>song_num</key>
					<integer>859</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/15421.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/15421.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>舒念</string>
						<key>url</key>
						<string>http://www.douban.com/people/shunian/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Umbrella</string>
						<string>That's Not My Name</string>
						<string>Life Is Like A Boat</string>
					</array>
					<key>id</key>
					<integer>1000959</integer>
					<key>intro</key>
					<string>全世界流行，别不理我，不想放走你的耳朵。
WWP，whole world POP。</string>
					<key>name</key>
					<string>别不理我</string>
					<key>song_num</key>
					<integer>231</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18568.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18568.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>绿绿桑</string>
						<key>url</key>
						<string>http://www.douban.com/people/indiexx/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Nothin' On You</string>
						<string>我的歌声里</string>
						<string>Whistle</string>
					</array>
					<key>id</key>
					<integer>1002500</integer>
					<key>intro</key>
					<string>無聊了就來聽聽歌吧。</string>
					<key>name</key>
					<string>正·能·量</string>
					<key>song_num</key>
					<integer>740</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/17497.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/17497.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>33噗哧</string>
						<key>url</key>
						<string>http://www.douban.com/people/tuesday12/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>孤单心事</string>
						<string>我以为</string>
						<string>需要人陪</string>
					</array>
					<key>id</key>
					<integer>1002048</integer>
					<key>intro</key>
					<string>love never end.</string>
					<key>name</key>
					<string>33</string>
					<key>song_num</key>
					<integer>206</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16581.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16581.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>豆瓣FM</string>
						<key>url</key>
						<string>http://site.douban.com/douban.fm/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>黑猫</string>
						<string>Not Nice</string>
						<string>Say Hello</string>
					</array>
					<key>id</key>
					<integer>8</integer>
					<key>intro</key>
					<string>James Blunt、Bob Dylan 以及 Taylor Swift</string>
					<key>name</key>
					<string>民谣</string>
					<key>song_num</key>
					<integer>8813</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cate</key>
			<string>Up Trending</string>
			<key>channels</key>
			<array>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18967.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18967.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Lao.P</string>
						<key>url</key>
						<string>http://www.douban.com/people/phz0612/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Melon Street Book Club</string>
						<string>灯塔</string>
						<string>Suicide Is Painless</string>
					</array>
					<key>id</key>
					<integer>1002732</integer>
					<key>intro</key>
					<string>可以每天单曲循环的歌</string>
					<key>name</key>
					<string>那些好听的歌！</string>
					<key>song_num</key>
					<integer>89</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18955.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18955.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>周雷雷</string>
						<key>url</key>
						<string>http://www.douban.com/people/48746427/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>鱼</string>
						<string>Unbelievable</string>
						<string>执迷不悔 (国语版)</string>
					</array>
					<key>id</key>
					<integer>1002722</integer>
					<key>intro</key>
					<string>二十四周半</string>
					<key>name</key>
					<string>二十四周半</string>
					<key>song_num</key>
					<integer>132</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16288.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16288.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>takigo</string>
						<key>url</key>
						<string>http://www.douban.com/people/takigo/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>桜の花びらたち　前田敦子ソロ</string>
						<string>Dear my teacher</string>
						<string>Beginner</string>
					</array>
					<key>id</key>
					<integer>1000713</integer>
					<key>intro</key>
					<string>從秋葉原唐吉柯德八樓那個250座的小小劇場，到夢想的東京ドーム一共1830米，我們走了7年。</string>
					<key>name</key>
					<string>秋葉原AKB48劇場</string>
					<key>song_num</key>
					<integer>169</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18968.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18968.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>May</string>
						<key>url</key>
						<string>http://www.douban.com/people/Mai.c/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Captains of the Sky</string>
						<string>Can't Stop Love</string>
						<string>Waiting In The Wings</string>
					</array>
					<key>id</key>
					<integer>1002733</integer>
					<key>intro</key>
					<string>你放着谁的歌曲，是怎样的心情？</string>
					<key>name</key>
					<string>The winding path</string>
					<key>song_num</key>
					<integer>160</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16516.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16516.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>，paranoid</string>
						<key>url</key>
						<string>http://www.douban.com/people/stubbornlady/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>孤独的人是可耻的</string>
						<string>Gotta Have You</string>
						<string>假行僧</string>
					</array>
					<key>id</key>
					<integer>1001550</integer>
					<key>intro</key>
					<string>关于不眠的夜，关于单曲循环，关于所有细碎的时光中陪伴在耳畔的声音。亲爱的陌生人，也许我们正在听一首歌</string>
					<key>name</key>
					<string>亲爱的陌生人</string>
					<key>song_num</key>
					<integer>196</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18946.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18946.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>很二の不二</string>
						<key>url</key>
						<string>http://www.douban.com/people/Pzeland/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>如果没有你</string>
						<string>我的歌声里</string>
						<string>The Rose</string>
					</array>
					<key>id</key>
					<integer>1002398</integer>
					<key>intro</key>
					<string>不管你听的是我喜欢的歌 还是我迷恋你的调调 我想做你的小情歌 每天把自己唱给你听</string>
					<key>name</key>
					<string>听得见你心在跳</string>
					<key>song_num</key>
					<integer>1006</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18984.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18984.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>zhuyin</string>
						<key>url</key>
						<string>http://www.douban.com/people/rabbitzhuyin/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Kuang Chao</string>
						<string>早安，晨之美</string>
						<string>Vampire</string>
					</array>
					<key>id</key>
					<integer>1002745</integer>
					<key>intro</key>
					<string>或许在这次音乐之旅中能找到一首属于你的心情，让我们一起旅行，感受音乐中的酸甜苦辣。</string>
					<key>name</key>
					<string>亞當的音樂の旅</string>
					<key>song_num</key>
					<integer>334</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16057.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16057.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>颓马斯·不流</string>
						<key>url</key>
						<string>http://www.douban.com/people/tuiblio/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>When Time Stood Still</string>
						<string>Saros</string>
						<string>Killing All The Flies</string>
					</array>
					<key>id</key>
					<integer>1001294</integer>
					<key>intro</key>
					<string>后摇滚漫游，情绪宇宙。</string>
					<key>name</key>
					<string>PostRock Odyssey</string>
					<key>song_num</key>
					<integer>683</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/pics/radio/open_channel/def_chl_cover_chlBanner.png</string>
					<key>cover</key>
					<string>http://img3.douban.com/pics/radio/open_channel/def_chl_cover_icon.png</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>青衫倦客</string>
						<key>url</key>
						<string>http://www.douban.com/people/juanke/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>南方姑娘</string>
						<string>九月</string>
						<string>南方</string>
					</array>
					<key>id</key>
					<integer>1000634</integer>
					<key>intro</key>
					<string>在那遥远的地方</string>
					<key>name</key>
					<string>在那遥远的地方</string>
					<key>song_num</key>
					<integer>93</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18053.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18053.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>酋长夫人护士长</string>
						<key>url</key>
						<string>http://www.douban.com/people/liu-nono/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>恋曲1990</string>
						<string>I Give You Bass</string>
						<string>镜子中</string>
					</array>
					<key>id</key>
					<integer>1002090</integer>
					<key>intro</key>
					<string>该兆赫只播放土摇（中国摇滚&amp;民谣）曲目、个别电子曲目以及个别优秀农金曲目。</string>
					<key>name</key>
					<string>Yellow Star</string>
					<key>song_num</key>
					<integer>788</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18837.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18837.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Cheryllllll</string>
						<key>url</key>
						<string>http://www.douban.com/people/51541189/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>If You Want Me</string>
						<string>Princess of China</string>
						<string>Supermassive Black Hole</string>
					</array>
					<key>id</key>
					<integer>1002671</integer>
					<key>intro</key>
					<string>独一无二的欧美风
席卷你的耳朵
Let's get the party started!!!!</string>
					<key>name</key>
					<string>欧美制造</string>
					<key>song_num</key>
					<integer>110</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/16948.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/16948.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>hotarubiye</string>
						<key>url</key>
						<string>http://www.douban.com/people/siren-sea/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Love Story Meets Viva La Vida</string>
						<string>Wir sind am Leben</string>
						<string>Das Liebeslied</string>
					</array>
					<key>id</key>
					<integer>1001766</integer>
					<key>intro</key>
					<string>陪你堆模型画草图出渲染做排版.通宵打鸡血用,非动脑性作业使用.嫌吵别听嫌不够吵也别来听了啦QAQ</string>
					<key>name</key>
					<string>写作业之歌</string>
					<key>song_num</key>
					<integer>185</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/17111.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/17111.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>Winter</string>
						<key>url</key>
						<string>http://www.douban.com/people/winterzhou/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Mercy</string>
						<string>California Dreaming</string>
						<string>You Never Can Tell</string>
					</array>
					<key>id</key>
					<integer>1001857</integer>
					<key>intro</key>
					<string>作为一个Rocker，怎能不听海盗电台。</string>
					<key>name</key>
					<string>海盗电台</string>
					<key>song_num</key>
					<integer>93</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img5.douban.com/img/fmadmin/chlBanner/18769.jpg</string>
					<key>cover</key>
					<string>http://img5.douban.com/img/fmadmin/icon/18769.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>发条凤梨</string>
						<key>url</key>
						<string>http://www.douban.com/people/crossoooover/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Papa Was a Rodeo</string>
						<string>Summer (菊次郎の夏</string>
						<string>風になる</string>
					</array>
					<key>id</key>
					<integer>1002646</integer>
					<key>intro</key>
					<string>重金属，民谣，迷幻，古典，英伦，电子。。。。。。好的音乐不需要赘述她的分类。这里胜似花开！</string>
					<key>name</key>
					<string>这里胜似花开</string>
					<key>song_num</key>
					<integer>106</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18696.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18696.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>方森岩</string>
						<key>url</key>
						<string>http://www.douban.com/people/65462501/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Love the Way You Lie [Album]</string>
						<string>我的歌声里</string>
						<string>Rolling In the Deep</string>
					</array>
					<key>id</key>
					<integer>1002580</integer>
					<key>intro</key>
					<string>欲念憎恶阴谋背叛谁能挽回失去的曾经  鬼首铜门战火印记谁能缔造不朽的传奇
-----最终进化</string>
					<key>name</key>
					<string>屌丝的呐喊</string>
					<key>song_num</key>
					<integer>203</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18863.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18863.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>swh雁渡寒潭</string>
						<key>url</key>
						<string>http://www.douban.com/people/ysmengxiang/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>我要的幸福</string>
						<string>慢歌1</string>
						<string>情歌</string>
					</array>
					<key>id</key>
					<integer>1002684</integer>
					<key>intro</key>
					<string>小傻要记得开心~~~ 
一切都会好的...

</string>
					<key>name</key>
					<string>1004</string>
					<key>song_num</key>
					<integer>287</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18157.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18157.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>黑川</string>
						<key>url</key>
						<string>http://www.douban.com/people/64441475/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>阴天</string>
						<string>9 Crimes (Demo)</string>
						<string>我期待</string>
					</array>
					<key>id</key>
					<integer>1002353</integer>
					<key>intro</key>
					<string>在茫茫人海中 总有人会懂你我 会爱你我</string>
					<key>name</key>
					<string>总有人会懂你我</string>
					<key>song_num</key>
					<integer>85</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18797.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18797.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>dddddddddeer</string>
						<key>url</key>
						<string>http://www.douban.com/people/deerbb/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>傻子</string>
						<string>我只在乎你</string>
						<string>浪费</string>
					</array>
					<key>id</key>
					<integer>1002656</integer>
					<key>intro</key>
					<string>自由</string>
					<key>name</key>
					<string>只有宥嘉</string>
					<key>song_num</key>
					<integer>74</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img5.douban.com/img/fmadmin/chlBanner/18659.jpg</string>
					<key>cover</key>
					<string>http://img5.douban.com/img/fmadmin/icon/18659.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>大云</string>
						<key>url</key>
						<string>http://www.douban.com/people/aiecho/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>矜持</string>
						<string>我绝对不说我爱你</string>
						<string>Lolita</string>
					</array>
					<key>id</key>
					<integer>1002577</integer>
					<key>intro</key>
					<string>会不会有一天，我们会等到自己的大雄。
他说他不要口袋，他说他只爱你。</string>
					<key>name</key>
					<string>他说他只爱你</string>
					<key>song_num</key>
					<integer>243</integer>
				</dict>
				<dict>
					<key>banner</key>
					<string>http://img3.douban.com/img/fmadmin/chlBanner/18583.jpg</string>
					<key>cover</key>
					<string>http://img3.douban.com/img/fmadmin/icon/18583.jpg</string>
					<key>creator</key>
					<dict>
						<key>name</key>
						<string>叫我マグロ</string>
						<key>url</key>
						<string>http://www.douban.com/people/aragakki/</string>
					</dict>
					<key>hot_songs</key>
					<array>
						<string>Luv Letter</string>
						<string>Liekkas</string>
						<string>残酷な天使のテーゼ(Director Edit version)</string>
					</array>
					<key>id</key>
					<integer>1002538</integer>
					<key>intro</key>
					<string>我要送你振奋人心</string>
					<key>name</key>
					<string>天是地上的海</string>
					<key>song_num</key>
					<integer>258</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>timestamp</key>
	<real>374238266.27705598</real>
</dict>
</plist>
