<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>public</key>
        <array>
            <dict>
                <key>cate</key>
                <string>公共兆赫</string>
                <key>channels</key>
                <array>
                    <dict>
                        <key>channel_id</key>
                        <string>1</string>
                        <key>name</key>
                        <string>华语 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>4</string>
                        <key>name</key>
                        <string>八零 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>2</string>
                        <key>name</key>
                        <string>欧美 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>9</string>
                        <key>name</key>
                        <string>轻音乐 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>6</string>
                        <key>name</key>
                        <string>粤语 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>32</string>
                        <key>name</key>
                        <string>NESCAFE 咖啡 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>61</string>
                        <key>name</key>
                        <string>新歌 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>76</string>
                        <key>name</key>
                        <string>小清新 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>5</string>
                        <key>name</key>
                        <string>九零 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>8</string>
                        <key>name</key>
                        <string>民谣 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>27</string>
                        <key>name</key>
                        <string>古典 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>20</string>
                        <key>name</key>
                        <string>女声 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>16</string>
                        <key>name</key>
                        <string>R&amp;B MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>10</string>
                        <key>name</key>
                        <string>电影原声 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>17</string>
                        <key>name</key>
                        <string>日语 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>13</string>
                        <key>name</key>
                        <string>爵士 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>18</string>
                        <key>name</key>
                        <string>韩语 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>28</string>
                        <key>name</key>
                        <string>动漫 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>3</string>
                        <key>name</key>
                        <string>七零 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>7</string>
                        <key>name</key>
                        <string>摇滚 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>22</string>
                        <key>name</key>
                        <string>法语 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>77</string>
                        <key>name</key>
                        <string>Easy MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>15</string>
                        <key>name</key>
                        <string>说唱 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>26</string>
                        <key>name</key>
                        <string>豆瓣音乐人 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>14</string>
                        <key>name</key>
                        <string>电子 MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>78</string>
                        <key>name</key>
                        <string>91.1 MHz</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>cate</key>
                <string>品牌</string>
                <key>channels</key>
                <array>
                    <dict>
                        <key>channel_id</key>
                        <string>80</string>
                        <key>name</key>
                        <string>LA MER海洋MHz MHz</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>79</string>
                        <key>name</key>
                        <string>淘丽江 MHz</string>
                    </dict>
                </array>
            </dict>
        </array>
        <key>dj</key>
        <array>
            <dict>
                <key>cate</key>
                <string>最受欢迎</string>
                <key>channels</key>
                <array>
                    <dict>
                        <key>channel_id</key>
                        <string>1000027</string>
                        <key>name</key>
                        <string>怀旧兆赫</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000207</string>
                        <key>name</key>
                        <string>谁的成名曲</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000037</string>
                        <key>name</key>
                        <string>Songs of Grammy</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000055</string>
                        <key>name</key>
                        <string>失恋序曲</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000056</string>
                        <key>name</key>
                        <string>老男孩</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000159</string>
                        <key>name</key>
                        <string>淺談輕唱</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000120</string>
                        <key>name</key>
                        <string>毕业季</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000198</string>
                        <key>name</key>
                        <string>Good Night</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000062</string>
                        <key>name</key>
                        <string>找寻电影音乐故事</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000252</string>
                        <key>name</key>
                        <string>粤你老味</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000106</string>
                        <key>name</key>
                        <string>Jazz-HipHop</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000302</string>
                        <key>name</key>
                        <string>舞台剧兆赫</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000081</string>
                        <key>name</key>
                        <string>纷繁中思考</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000218</string>
                        <key>name</key>
                        <string>fanjun.fm</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000093</string>
                        <key>name</key>
                        <string>浅唱低吟</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>cate</key>
                <string>上升最快</string>
                <key>channels</key>
                <array>
                    <dict>
                        <key>channel_id</key>
                        <string>1000527</string>
                        <key>name</key>
                        <string>为TA，爱自己</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000404</string>
                        <key>name</key>
                        <string>遇见。陌生人</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000169</string>
                        <key>name</key>
                        <string>The Suburbs</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000534</string>
                        <key>name</key>
                        <string>Don&apos;t be cry</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000038</string>
                        <key>name</key>
                        <string>edus的电台情人</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000514</string>
                        <key>name</key>
                        <string>旧约FM</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000268</string>
                        <key>name</key>
                        <string>简单编程</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000211</string>
                        <key>name</key>
                        <string>棉花兆赫</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000439</string>
                        <key>name</key>
                        <string>小丑电台</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000522</string>
                        <key>name</key>
                        <string>閱讀.成長.音樂</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000397</string>
                        <key>name</key>
                        <string>燃烧的小宇宙</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000487</string>
                        <key>name</key>
                        <string>最美不過音樂劇</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000188</string>
                        <key>name</key>
                        <string>午夜的音乐鸡汤面</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000190</string>
                        <key>name</key>
                        <string>陈医生的病人</string>
                    </dict>
                    <dict>
                        <key>channel_id</key>
                        <string>1000057</string>
                        <key>name</key>
                        <string>棕噪音</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
